* {
    margin: 0%;
    padding: 0%;
}
body {
    /* font-family: Arial, sans-serif; */
    background-color: #f2f2f2;
  }

  .container5 {
    max-width: 400px;
    margin: 74px 0px 78px 438px;
    padding: 50px;
    background-color: #767676;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .container5 h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
  }

  .form-group1 {
    margin-bottom: 20px;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .form-group1 input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .form-group1 button[type="submit"] {
    background-color: #4caf50;
    color: #ffffff;
    cursor: pointer;
    border:1px solid black;
    border-radius: 2px;
    padding: 6px;
  }

  .form-group1 button[type="submit"]:hover {
    background-color: #45a049;
  }

.alert {
    color: red;
}

.done{
  color: #45a049;
}

.form-text{
  color: rgb(255, 0, 0);
}

.form-group1 textarea{
  width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}